<h1>Bienvenue</h1>

<div class="container">
    <img src="/assets/tous-anti-covid.png" alt="Tous anti covid">

    <p class="disclaimer">
        <b>Ce site n’est pas une incitation à sortir dehors, <br> RESTEZ CHEZ VOUS.</b><br><br>
        Respectez les gestes barrières. <br>
        Prenez soin de vous et de vos proches,<br>
        Favorisez la prise de contact par
        internet/téléphone. <br>
        N’écoutez pas tout ce qui se dit sur internet ou à la télé,<br>
        Vérifiez vos sources. <br><br>
        <a class="twitter-share-button" target="_blank"
            href="https://twitter.com/intent/tweet?text=Restons%20unis%20face%20%C3%A0%20cette%20adversit%C3%A9%20et%20nous%20sortirons%20de%20cette%20%C3%A9preuve%20grandis%20!%20%23uneFranceUnie">
            Restons unis face à cette adversité et nous
            sortirons de cette épreuve grandis !</a> </p>

    <button mat-flat-button color="primary" routerLink="ios">Oui ! Maintenant le générateur</button>
</div>